.container
  .col-sm-12
    %h1 Welcome to Anca's first React form project!

    %p The challenge is to create a contact form using React to post to the Rails server and save the contact information in the db.

    